<h2>List your hotel, B&amp;B, guesthouse or hostel for free</h2>
<h3>Sign up now</h3>

<p>You can make more money on every stay and attract more guests if you don't have to pay reservation fees to an online Booking service. Help guests make direct reservations with you:</p>

<ul>
<li><b>Help guests find your property</b> when they are searching for accommodation online</li>
<li><b>Provide contact information</b> so they can booking directly wuth you</li>
<li><b>Save 10-20% on every booking</b> by not paying unnecessary reservation commissions</li>
</ul>

<p><a href="#signup">Sign up</a> and list your property for free. If you own or manage multiple properties, add all of them with a single account. It only takes a few minutes to enter the details, then we review your listing.</p>

<p>When approved we publish your property on our public website. Guests can search for accommodation by location, find your property, view contact details and book directly with you.</p>

<p>There really are no hidden fees. The service is supported by advertising on our public site, and added optional online services we may offer account holders in the future. </p>

<a id="signup" />
<p>By registering you agree to our simple <a href="/page/terms_of_service_free_listing" target="_giv_tos">free listing terms of service</a>. </p>