<h1>Find hotels, guesthouses, B&amp;Bs and hostels worldwide
</h1>
<ul>
<li>No booking fees for you</li>
<li>Search accommodation in out-of-the-way places</li>
<li>Support independent businesses by saving them commissions</li>
</ul>

<%= render partial: "properties/search_form" %>

<br/>
<h1>Own or manage a hotel, B&amp;B, guesthouse or hostel?</h1>
<div class="card card-block">
<ul>
<li>List your your property for free</li>
<li>Avoid booking commissions</li>
<li>Guests make reservations directly with you</li>
</ul>
<p class=""><a class="btn btn-primary" href="free_online_listing">Learn More</a></p>
</div>
<br/>
<p><a href="/">GetInView</a> lists hotels, guesthouses, bed and breakfasts, motels,  backpackers hostels, campgrounds, holiday resorts and other accommodation and lodging options. Listings provide direct contact details for the properties, allowing guests to book rooms directly, saving money on fees and commissions.</p>
<p>Hotels are listed for many countries worldwide, especially in locations where there is limited room availability, or online accommodation details are hard to find.</p>
<p>Simply search for your desired location, or <%=link_to "browse countries", countries_path %> where we have listings</p>
<br/>