<h1>List your hotel, B&amp;B, guesthouse or hostel for free</h1>
<h2>Avoid booking commissions</h2>
<section>
<p>Get a free online listing for your hotel, B&amp;B, guesthouse or backpackers hostel.</p>
<p>Avoid paying commissions to the online booking listing sites.</p>
<p>Ensure tourists and independent travellers can find you online, communicate with you easily and make reservations for free.</p>
</section>
