<h1>Submit a hotel, B&amp;B, guesthouse or hostel listing</h1>

<p>We accept listings from property owners and managers, and from guests. Listings are free. They help tourists and travellers find accommodation, while supporting independent businesses by saving booking commission fees.</p>

<p class=""><a class="btn btn-primary" href="free_online_listing">Owners &amp; Managers</a> 
<a class="btn btn-primary" href="mailto:admin@getinview.com?subject=Guest%20property%20submission&body=Property%20details%20or%20webpage%20or%20link%20to%20Google%20Maps%20Place:">Guests</a> 