<h1>Terms of Use - Public User</h2>

<h2>30 January 2017</h2>

<p>GetInView.com is a free online service for users to search for accommodation properties. The service is provided to public users free of charge. All services and information are provided as-is. No warranties are provided, expressed or implied. No liability for damages will be accepted. All use of the service and information is commensurate with such a free service. 

<p>Information displayed on the website may be incorrect and incomplete. We accept no responsibility of any kind for accuracy of any information, whether provided by us, accommodation property managers or other users. Users of the service are required to validate all address, location, facilities, costs, contact and other details directly with property owners or managers. Information, claims and services provided by individuals and organisations listed are the responsibility only of those third parties.

<p>Links to third party websites are provided for convenience only and no responsibility is accepted for the relevance or accuracy of such websites. 

<p>Public services are supported by advertising displayed on the website. Use of web browser ad-blockers is a violation of these terms of use. Users wishing to use advertising blocking technology should not browse our service. 

<p>All data and information as presented is copyright of GetInView.com and other credited third party sources. Personal use, printing and copying of limited details offline by private individuals is acceptable. Business use for caching, storage in databases or data storage services, for data analysis, or for populating websites or intranet sites is prohibited, except under license. Scraping technologies for extracting data, or human scraping of data, is prohibited. Any company, organisation or individual intending to, or actually extracting more than 1000 records from the service for offline use, or storage in any other form, must be licensed appropriately. If not licensed, such data use is considered infringement of copyright. Legitimate search engines that show limited information and link to the original web pages are permitted. 

<p>Any data, information, feedback, content or media submitted through the service will be considered as licensed to GetInView.com for free use of any kind. Users submitting information and files are indicating that they have a right to license it in such a way, through ownership or other license. Any copyright infringement, illegal or inappropriate content remains the responsibility of the submitter. We retain the right to modify or remove any information or files and to report illegal or questionable content to the appropriate authorities. 

<p>Public users also agree to the current Privacy Policy published. 

<p>Public users are bound by <a href="https://www.google.com/intl/en-us/help/terms_maps.html">Google terms of service</a> for Maps and Places.</p>

<p>These terms of use may be updated at any time. Users agree to be bound by the currently published terms of use any time accessing the GetInView.com website. 

<p>All questions, concerns, feedback, copyright / digital rights claims, licensing requests, or reports of illegal or inappropriate content should be directed to admin@getinview.com. 

