
<h1>Avoid booking commissions</h1>
<section>
<p>Get a professional website for your hotel, B&amp;B, guest house or backpackers hostel.</p>
<p>Avoid paying commissions to the online booking listing sites.</p>
<p>Ensure tourists and independent travellers can find you online, communicate with you easily and make reservations for free.</p>
</section>
<section>
<div class="row">
<div class="col-md-12">
<h3>Take accommodation bookings without paying commission</h3>
</div>
<div class="col-md-12">
<p>If you own or manage a hotel, B&amp;B, guest house or backpackers hostel you are probably paying 15% or more in commissions to the online room booking sites.</p>

<p>Independent travellers try to find you directly online to get a better deal. If you don't have a website, or they can't make a reservation easily, they will use a site like Booking.com or Hotels.com instead, and you end up paying the fees.</p>

<p>If you have your own professional accommodation booking website travellers can find you, communicate with you easily and make reservations for free.</p>
</div>
</div>
</section>


<section>
<div class="row">
<div class="col-md-6"><h2>No commissions or booking fees</h2></div>
<div class="col-md-6">
<p>When travellers can find you and communicate with you directly you can take their bookings without paying a fee.</p>
<p>Many price conscious independent travellers will search directly for a hotel, guests house, B&amp;B or hostel website to see if they can get a better deal booking directly with a property.</p>
<p>With your own professional website these savvy travellers can find you, and you can offer these guests a better rate for booking directly with you than using the commercial booking websites.</p>
</div>
</div>
<div class="row">
<div class="col-md-6">
<h2>Appear on search engines like Google</h2></div>
<div class="col-md-6">
<p>Your online presence will include all the information required so that travellers can search and find your website online. We submit your website to search engines like Google and Bing, and register your property on Google Maps.</p>
<p>We also create your Facebook Page if you don't have one and make sure that everything is linked.</p>
<p>Finally we list your property on the Get In View website, to help travellers find your website.</p>
</div>
</div>
<div class="row">
<div class="col-md-6"><h2>Own a real domain name</h2>
</div>
<div class="col-md-6"><p>You own your travel property. Make sure you own your online property too. Get a real domain name (.com, .co, .com.abc, etc), not one that ties you to your phone company, cable company or Internet Service Provider (ISP).</p>
<p>You site will look more professional, it will be easier to find, and you can change providers in the future. And you can include your domain name in any advertising or guide books without fear that it might change in the future.</p>
</div>
</div>
<div class="row">

<div class="col-md-6"><h2>Professional email and contact forms</h2></div>
<div class="col-md-6"><p>A professional image requires a professional email address. We make sure you have an address like <a href="/">reservations@yourdomain.com</a> so travellers know who they are communicating with.</p>
<p>Your website will also benefit from a professional contact form that travellers can use to contact you. Both email and contact forms deliver messages securely to our servers so we don't clog your personal email accounts and nothing gets trapped in a Junk Mail or Spam folder.</p>
<p>Finally, to make sure you never miss a message we will send an SMS messages to your mobile phone number whenever a traveller contacts you. Messages can be read and replied to from any phone with a data connection (or WiFi) and a web browser.</p>
</div>
</div>
<div class="row">

<div class="col-md-6"><h2>Track your bookings</h2></div>
<div class="col-md-6"><p>With simple online reservation forms available to travellers, you can be sure you receive accurate information from your future guests.</p>
<p>These reservations automatically update your secure reservations dashboard ensuring you have an up to date view of your reservations, rates and availability. You can use this yourself to track bookings taken over the phone, in person, or through the commercial booking websites. And you can make updates through you phone or PC.</p>
</div>
</div>
<div class="row">

<div class="col-md-6"><h2>Economical, transparent pricing</h2></div>
<div class="col-md-6"><p>We charge a small setup fee and then a monthly subscription which includes everything needed to get your website online, listed on search engines, and ready to take bookings from independent travellers, tourists, backpackers and companies. The prices are low, and are simply based on the size of your property. We always aim to charge less than the commission you would pay to the booking websites, while you gain so much more.</p></div></div>
</section>