<p>Wellington has a range of accommodation options from top-end luxury international hotel brands for deluxe tourists and business travellers, to backpackers hostels for young independent travellers, plus cool bed and breakfasts and modern motels for visitors wanting comfort that won't break the bank.</p>
<p>The <strong>luxury and business hotels</strong> cluster around the CBD and waterfront. <a href="/properties?utf8=✓&property%5Bname%5D=search+your+current+location&location_latitude=-41.284038&location_longitude=174.776015&rad=0.01">View the hotels around the Wellington CBD</a>. This provides direct access to The Beehive, ferries and Westpac stadium. The cable car, bars and restaurants are quite walkable too.</p>
<p>Cuba Street is the axis for many daytime cafes and restaurants, and the late-night entertainment, bars and pubs. <strong>Mid-scale and budget accommodation</strong> can be found varying levels of stumbling distance from here.
<a href="/properties?utf8=✓&property%5Bname%5D=search+your+current+location&location_latitude=-41.293848&location_longitude=174.778909&rad=0.01">View the hotels and hotels around Cuba Street</a>.
</p>
<p><strong>Mid-range hotels</strong> and the various independent and chain <strong>motor-lodges / motels</strong> are a little away from the action. Many are dotted around Alexandra Park, Mount Victoria and Evans Bay where they have a little more space. 
<a href="/properties?utf8=✓&property%5Bname%5D=search+your+current+location&location_latitude=-41.302160&location_longitude=174.787529&rad=0.02">View the lodging options around Alexandra Park</a>.
</p>
<p>Alternatively, take a look at 
<a href="/cities/108">all Wellington listings</a>
, covering these areas and the <a href="/cities/113">outer suburbs</a> too.</p>
