<p>GetInView has properties listed in many countries around the world. We aim to list hotels, B&amp;Bs, guesthouses and hostels in places where it is harder to find accommodation online.</p>
<p>Do you have a place we should list? 
<%= link_to "Submit the details", "submit_a_listing" %> so we can check it out.</p>