

<h1><%= types_title %></h1>
<%= render partial:"countries/browse_details" %>
<ul class="list-group">
      
    <% @countries.each do |country| %>
    
    
    <li class="list-group-item ">
    
    <a href="<%= country_path(country) %>" class="list-group-item-action">
          <h5 class="list-group-item-heading"><%= country.full_name %></h5>
          
        </a>
      </li>
    <% end %>
  </ul>

<br>

