<p>Auckland offers plenty of accommodation owing to its large geographical size and importance as a commercial centre.</p>

<p><strong>Budget hotels</strong> and <strong>backpackers hostels</strong> can be found stuffed into the higher storeys of inner city CBD buildings. These often provide low cost places to stay in less than welcoming spaces or on noisy city streets. Of course there are exceptions to this rule. The ability to step outside the front door into the thick of the action, nightlife, cultural activities and a quick walk to the waterfront are an advantage. Compare this to the backpackers hostels in the inner suburbs that require some walking to access the sights of the CBD or to take a ferry over to Waiheke Island. </p>
<p><a href="/cities/58">Find accommodation in central Auckland</a></p>

<p>The inner suburbs of Parnell, Ponsonby and Freemans Bay provide interesting <strong>budget hotels</strong> and <strong>mid-range lodgings</strong> a more lengthy walking distance from the CBD and waterfront, while providing their own entertainment in the form of neighbourhood cafes, restaurants and bars, with a real local feel that can help a traveller feel less like a tourist. Like many spots in Auckland though, the late night walk home to your hotel may be through the more 'interesting' parts of town, like up Karangahape Road (K Road), Victoria Street, Beach Road or over the Auckland Domain. Fine at day or night, just a little edgy the later you leave it. And always uphill. </p>
<p><a href="/cities/59">Find accommodation in Parnell</a></p>
<p><a href="/cities/73">Find accommodation in Ponsonby</a></p>

<p>The parts of Grey Lynn and Mount Eden adjoining Ponsonby and Parnell  also provide interesting <strong>budget bed and brwakfasts</strong> and <strong>mid-range hotel, motel and hostel options</strong>, though take a good look at the map to avoid being parked on a railway line, in an industrial estate or next to a prison. The bus or a taxi service may be a good idea the further out you go unless you are excited by an hour walk from the waterfront to finish your night. </p>
<p><a href="/cities/72">Find accommodation in Grey Lynn</a></p>
<p><a href="/cities/74">Find accommodation in Mount Eden</a></p>
<p>For <strong>upscale places to stay</strong>, downtown CBD and the waterfront / Britomart are your targets. These offer the luxury brands, and recognisable international chains. There are also some New Zealand brand hotels and apartments around this area, closer to the Vector Arena that are worth looking at. These will all get you an easy walk or ride to the Queens Wharf, Princes Wharf, Viaduct Harbour, Skycity / Sky Tower and Silo Park. All of the cultural exhibits will be quite walkable too, such as Aotea Square and the Auckland Art Gallery. And of course business travellers will be walkable to their office, while having some interesting entertainment to keep them off the <strong>business hotel</strong> WiFi.</p>
<p><a href="/cities/61">Find accommodation in the Britomart</a></p>
<p><a href="/cities/58">Find accommodation in central Auckland</a></p>
<p>Auckland is a sprawling city, so there are plenty of <strong>motels and motor lodges</strong> further out of the center. Plus there are interesting outer suburbs that have more than commuter houses. For example, Devonport is an interesting ferry ride from the CBD, and many Auckland visitors take a day trip, so why not consider doing the reverse? There are <strong>Devenport hotels and B&amp;Bs</strong> that rival their more hectic city cousins.</p>
<p><a href="/cities/65">Find accommodation in Devonport</a></p>
<p>Auckland Region has plenty to do outside of the city too. There are places to stay close to many outdoor activities, tramping and beaches around Auckland.</p>
<p>
Show hotels, motels, bed &amp; breakfasts, hostels and other
<a href="/states/34">accommodation in the Auckland Region</a></p>
