<div class="navbar-bottom">
<div class="text-center">
<br/>
<%= render partial: 'layouts/share_buttons' %>
</div>
<nav class="navbar ">
<div class="nav ">
<a href="/" class="nav-item nav-link">home</a>
<%= link_to "browse", countries_path, class:"nav-item nav-link" %>
<a href="/privacy_policy" class="nav-item nav-link">privacy policy</a>
<a href="/terms_of_use_public_user" class="nav-item nav-link">terms of use</a>
</div>
</nav>
<div class="container">
<div class="row ">
<div class="col-sm-12 text-center">Copyright 2016 GetInView</div>
</div>
</div>
</div>
</div>

</div>
<%= render partial: "layouts/analytics" %>