<div id="share_getinview" class="social-buttons"> 
  <div style="display:inline-block; position: relative; top: 0px; left: 0px; margin-right: 10px; width: 40px;">
    <div class="fb-like" 		data-href="https://facebook.com/getinview" 		data-layout="standard" 		data-action="like" 		data-show-faces="false">FB</div>
  </div>
  <div style="display:inline-block; position: relative; top: 6px; margin-right: 15px;">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="GetInViewNow" data-lang="en" data-count="none">Tweet</a>
    <script>
      setTimeout(function() {
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      },1);
      </script>
  </div>
</div>